@()

@main("Time Series Data") {  

  <div>
  <form>
    <div class="label">subject keywords:</div>
    <input type=text name=subject class="text-input" id="subjectKeywords"><br>
    <div class="label">family keywords:</div>
    <input type=text name=family class="text-input" id="familyKeywords"><br>
    <div class="button" id="search">search</div>
  </form>
  </div>

  <h1><span class='left'>Datasets</span> <span class='right'><a href=v1/docs target="_blank" class='small plain'>API documentation</a></span></h1>

  <div id="search-results">
    <table id="results-tab">
      <thead>
        <tr>
          <th>Subject</th>
          <th>Family Code</th>
          <th>Family Number</th>
          <th>Title</th>
          <th>Download</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>

  <script src="@routes.Assets.versioned("javascripts/series_search.js")" type="text/javascript"></script>
}
