**/.access^
**/.Rproj.user
**/*.Rproj
**/.RData
**/.Rhistory
**/renv
**/.scala-build
**/.bsp
**/.metals
**/.vscode
**/*.jar
**/csv.zip
**/*.csv.gz
**/.env
**/downloads
.Rproj.user
snzscrape.yml.old
docker/scraper.old
snzscrape_r/output/*